@import '../../variables.scss';

.container {
    color: $restingStateColor;
    background-color: $background-fill;

    .tabs {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        background-color: $grey-3-inactive;

        div {
            width: 100%;
            padding: 2rem;

            &:hover {
            cursor: pointer;
            color: #FFF;
            }
        }
    }

    .selectedOption {
        background-color: $grey-2-active;
        color: $activeStateTextColor;
    }

    .selectionGrid {
        display: flex;
        flex-direction: column;
        padding: 0 2rem 0 2rem;
        flex: 1 1 auto;
    }


}