@import '../../variables.scss';

.container {
    // position:absolute;
    // left:0;
    // bottom:0;
    // right:0;
    background-color: $grey-1;
    color: $standardTextColor;
    font-size: 1.75rem;
    text-align: center;
    padding: 1rem 4rem 1rem 4rem;

    .selectedTag {
        font-size: .75rem;
        text-transform: capitalize;
        color: $streetTextColor;
    }

    .streetNameContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        font-size: 1.25rem;
        color: $currentLocationTextColor;

        svg {
            font-size: 1rem;
            width: 1.5%;
            margin: 0 .75rem;
        }
    }

    .currentStopContainer {
        display: flex;
        justify-content: center;
        margin-top: auto;
    }

}