@import '../../variables.scss';

.generalButton {
    display: inline-block;
    width: 100%;
    border: solid 3px $grey-2-active;
    background-color: transparent;
    font-size: 1.25rem;
    font-family: muniText;
    text-transform: capitalize;
    padding: 1.2rem;
    color: #dcdcdc;
    // margin: 2rem;

    &:hover {
        cursor: pointer;
        color: $grey-2-active;
        background-color: #dcdcdc;
    }
}