@import '../../variables.scss';

.headerContainer {
    background-color: $grey-1;
    display: flex;
    color: $standardTextColor;

    div {
        align-self: center;
        margin: 0 2rem;
        width: 20rem;
    }

    figure {
        margin-right: 0
    }

    h1 {
        margin-top: 0;
    }

    img {
        width: 10%;
    }
}