@import '../../variables.scss';

.dashboardContainer {
    // display: flex;
    // flex-direction: column;
    // flex: 1 1 auto;
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
    padding: 110px 0px 70px;
    flex-flow: column nowrap;
    overflow: auto;
    background-color: $hotPink;

    .prediction {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        width: auto;
        height: 70px;
        flex-shrink: 0;
    }

    .predictionNearest {
        width: 240px;
        height: 240px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 25px 50px;
        margin-bottom: 20px;
        background: var(--color-primary);
        border-radius: 50%;

        .predictionMinutes {
            font-size: 7.5rem;
            text-shadow: 0 10px 14px rgba(0, 0, 0, 0.15);
            line-height: 1;
        }
    }

    .predictionMinutes {
        font-size: 3.125rem;
        font-weight: 700;
        letter-spacing: -0.025em;
    }

    .predictionLabel {
        opacity: 0.5;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        font-size: 1.25rem;
    }
}

.view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.view-predictions {
    background: var(--color-primary);
}

.view-predictions .predictions {
    padding: 110px 0 70px;
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    overflow: auto;
}

.view-predictions .prediction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: auto;
    height: 70px;
    flex-shrink: 0;
}

.view-predictions .prediction__minutes {
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: -0.025em;
}

.view-predictions .prediction__label {
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.25rem;
}

.view-predictions .prediction--nearest {
    width: 240px;
    height: 240px;
    background: var(--color-primary);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    margin-bottom: 20px;
}

.view-predictions .prediction--nearest .prediction__minutes {
    font-size: 7.5rem;
    text-shadow: 0 10px 14px rgba(0, 0, 0, 0.15);
    line-height: 1;
}

.view-predictions .prediction:nth-child(2) {
    opacity: 0.5;
}

.view-predictions .prediction:nth-child(3) {
    opacity: 0.25;
}