$grey-1: #272E35;
$grey-2-active: #3B454E;
$grey-3-inactive: #313942;
$background-fill: #181C22;
$hotPink: #C41152;

$fadedTextColor: #DE7A9F;
$standardTextColor: #FFF;
$stopTextColor: #C0C2C3;
$streetTextColor: #DAD1DE;

$currentLocationTextColor: #9AA4A7;